{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="login-container">
        <h3 style='color:#5a1313' >Reset Password Page</h3>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button style="text-align: center; background-color: red; color: white; padding: 10px 20px; border: none; border-radius: 5px;" type="submit" class="btn">Mail Sent To Email</button>
        </form>
    </div>
</div>

{% endblock content %} 