{% extends "base.html" %}



{% block content %}
{% load static %}

<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <br>
                <br>
                <h1 class="fashion_taital" style="top: 20px;color: #5a1313;">
                  About This Project
                </h1>
                <br>
                <p> 
                    <br>
                    <br>Hey there!!
                    <br>This Website is a project work made by Kritik Tripathi to showcase his HTML , CSS , Python (Django) skills. This website's frontend was made with the help of Bootstrap and along with some Youtube mentors. It was fun making this project. This Project helped me to gain hands on experience of making a website , both frontend and backend. This Project sharpened my django skills with lots of answers to my questions regarding backend and frontend cordination. Whereas,this still lots of practical things, but with the skills, which i learnt during this journey, this project can further be expanded to show case more deatiled skills of django.
                    <br>
                    <br>
                    -Kritik Tripathi
                </p>
             </div>
          </div>
       </div>
    </div>
</div>


{% endblock content %}